/**
 * @section Base Styles
 */

body {
	font-size: 125%;
	margin: 0 auto;
	max-width: 42em;
	width: 88%;
}

input,
textarea,
select{
	font: inherit;
}

button {
	cursor: pointer;
	font-size: 1rem;
	font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
	padding: .2rem .8rem;
	border-radius: 5px;
	border-width: 1px;
	border-color: #fff;
	border-style: solid;
	box-shadow: 0px 0px 3px 1px #66666646;
	transition: border-color 1s, box-shadow 1s;
}
button:hover {
	border-color: #2a9400;
	box-shadow: 0px 0px 2px 1px #b3ff00;
	transition: border-color .5s, box-shadow .5s;
}
button:disabled {
	pointer-events: none;
}
